$primary: #1076b9;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'animations';
@import 'navbar';
@import 'footer';
@import 'give';
@import 'serve';
@import 'lighthouse';
@import 'missionhouse';
@import 'gospelhouse';
@import 'gracehouse';
@import 'kingsgarden';

h1, h2, h3, h4, h5 {
    font-family: 'Helvetica Neue',' Helvetica', sans-serif;
}


.inspo-container {
    background: url('src/img/Lighthouse_Wenatchee.jpeg');
    background-position: center;
    background-size: cover;
}

.arrow {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    border-left: 1rem solid $light;
    border-bottom: 1rem solid $light;
    transform: rotate(-45deg);
    transition: transform 100ms ease-in-out;
}

.card {
    border: none;
    border-radius: 0;
    background: none;

    &-header {
        border-radius: inherit;
    }
}
