// $primary: #1076b9;
// $secondary: #faa83d;
$primary: #1773dc;
$secondary: #d11946;
$dropdown-border-radius: 0;
$enable-negative-margins: true;

$btn-border-radius: 0;

$card-border-radius: 0;
$card-bg: none;
$list-group-bg: none;


$input-color: #f8f9fa;
$input-bg: transparent;
$input-border-width: 0;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'footer';
@import 'index';
@import 'give';
@import 'serve';
@import 'lighthouse';
@import 'missionhouse';
@import 'gospelhouse';
@import 'gracehouse';
@import 'kingsgarden';
@import 'freefood';
@import 'contact';
@import 'vision';
@import 'animations';
@import 'navbar';


p, div, a, li, span, button, .btn {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
}

.hfont {
    font-family: 'Roboto Slab', serif;
}

.card-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.screaming {
    text-transform: uppercase;
}

select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}

header {
    position: relative;
}

label {
    visibility: hidden;
}

input[type="submit"] {
    border-style: none !important;
}

input, textarea, select {
    border-radius: 0 !important;
    border-bottom: 2px solid #f8f9fa !important;
}

.full-page {
    min-height: calc(100vh - 120px);
}

.full-page-no-header {
    min-height: 100vh;
}

.light-link {
    color: $light;

    &:hover {
        color: #c5c5c5;
    }
}

.dark-link {
    color: $dark;
}

.card {
    border: none;
    border-radius: 0;
    background: none;

    &-header {
        border-radius: inherit;
    }
}

.card-col {
    background: transparent;
}

.fixedDonate {
    position: fixed;
    z-index:99;
    left:0;
    right:0;
    text-align: center;
    line-height: 2rem;
    text-decoration: none;
    background-color: $secondary;
    color: $light;
    transition: transform .3s;

    &:hover {
        cursor: pointer;
        background-color: #bb334a;
        color: $light;
    }

    &:focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
      }
}

.fixedDonateBtn {
    position: fixed;
    z-index:99;
    right: 1rem;
    bottom: 1rem;
    color: $light;
}

.info-blurb {
    list-style: none;
    & > li > ul { list-style: none; }
}


@media screen and (max-width: 800px) {
    .lighthouse-section-1,
    .kingsgarden-section-1,
    .gospelhouse-section-1
     {
        background-position-x: 30%;
    }
    .free-food-section-1,
    .serve-section-1,
    .gracehouse-section-1,
    .give-section-1 {
        background-position-x: 60%
    }
  }